#portfolio{
    padding-top: 20px;
    padding-bottom: 20px;
}
.container{
    background-color: #fff;
    font-family: 'Times New Roman', Times, serif;
}

.message{
    display: flex;
    font-family: inherit;
    font-size: 2rem;
    background: -webkit-linear-gradient(rgb(130, 177, 96), rgb(6, 45, 203));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media only screen and (max-width: 800px) {
    .message{
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: inherit;
        font-size: 1.5rem;
        background: -webkit-linear-gradient(rgb(130, 177, 96), rgb(6, 45, 203));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

img{
    max-width: 100%;
    max-height: 500px;
}

@media only screen and (max-width: 900px) {
    img{
        height: 350px;
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    img{
        height: 250px;
        width: 100%;
    }
}

h1{
    display: flex;
    font-family: inherit;
    font-size: 2rem;
    background: -webkit-linear-gradient(rgb(147, 139, 242), rgb(5, 24, 100));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1rem;
}



