<div class="container mx-auto p-3">
    <div class="row mb-3">
        <div class="col-6 message">
            Looing for help in turning your idea into reality?
        </div>
        <div class="col-6">
            <img src="../../../assets/images/brain.png" alt="idea">
        </div>

    </div>

    <div class="row mb-3">
        <div class="col-6">
            <img src="../../../assets/images/browser.png" alt="webapp">
        </div>
        <div class="col-6 message">
            Remember me if you need help in developing web application.
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-6 message">
            Need a mobile app?
        </div>
        <div class="col-6">
            <img src="../../../assets/images/mobile.png" alt="mobileapp">
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-6">
            <img src="../../../assets/images/binary.jpg" alt="coding">
        </div>
        <div class="col-6 message">
            Also, I can help you learn coding. Java, Python, TypeScript, JavaScript, HTML, CSS, and SQL.
        </div>
    </div>
</div>
