<div [ngClass]="'service'" id="services">
    <div class="container mx-auto pt-5 pb-5">
        <h1>Services</h1>
        <div class="row mt-4 mb-4">
            <div class="col-sm-4">
                <div class="card p-3">
                    <h5 class="card-title">Web Development</h5>
                    <img class="icon-image" src="../../../assets/images/Group 8devlopment_icon.png" alt="icon">
                    <p class="card-text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>

                    <a class="btn-info ">More Info</a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card p-3"> 
                    <h5 class="card-title">Cloud Service</h5>
                    <img class="icon-image" src="../../../assets/images/Cloudcloud_icon.png" alt="icon">
                    <p class="card-text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
                    <a class="btn-info ">More Info</a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card p-3">
                    <h5 class="card-title">App Development</h5>
                    <img class="icon-image" src="../../../assets/images/Group 8devlopment_icon.png" alt="icon">
                    <p class="card-text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
                    <a class="btn-info ">More Info</a>
                </div>
            </div>
        </div>
        <div class="row mt-4 mb-4">
            <div class="col-sm-4">
                <div class="card p-3">
                    <h5 class="card-title">Web Design</h5>
                    <img class="icon-image" src="../../../assets/images/Web Designdesign.png" alt="icon">
                    <p class="card-text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
                    <a class="btn-info ">More Info</a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card p-3">
                    <h5 class="card-title">Custome Software</h5>
                    <img class="icon-image" src="../../../assets/images/Windows 10 Personalization_icon.png" alt="icon">
                    <p class="card-text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
                    <a class="btn-info ">More Info</a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card p-3">
                    <h5 class="card-title">API & Web Services</h5>
                    <img class="icon-image" src="../../../assets/images/TradingViewAPI.png" alt="icon">
                    <p class="card-text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
                    <a class="btn-info ">More Info</a>
                </div>
            </div>
        </div>
    </div>
    
</div>
