.footer{
    width: 100%;
    height: auto;
    background-color: rgb(36,107,190);
    color: #fff;
    padding: 20px;
}

p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color: inherit;
    animation: zoom 1s;
}

@media only screen and (max-width: 900px){
    p{
        font-size: 16px;
    }
  }

h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: 700px;
}

@media only screen and (max-width: 900px){
    h3{
        font-size: 20px;
    }
  }

i.social{
    font-size: 36px;
    margin-right: 20px;
}

.col-sm-4{
    text-align: center;
}

.bi-youtube{
    color: rgb(255, 0, 0);
}

i{
    margin-right: 5px;
}

