<div class="footer">
    <div class="container mx-auto mt-4 mb-2">
        <div class="row">
            <div class="col-sm-4 mb-5">
                <h3>Tek Bista</h3>
                <p>Software Engineer</p>
                <p>Tata Consultancy Services</p>
                <div class="d-flex justify-content-center"><i class="bi bi-envelope-fill"></i><p>{{email}}</p></div>
            </div>
            <div class="col-sm-4 mb-5">
                <div class="d-flex justify-content-center"><h3>Follow Me</h3></div>
                <div class="d-flex justify-content-center">
                    <i class="bi bi-linkedin social" (click)="findMe('linkedin')"></i>
                    <i class="bi bi-facebook social" (click)="findMe('facebook')"></i>
                    <i class="bi bi-youtube social" (click)="findMe('youtube')"></i>
                    <i class="bi bi-github social" (click)="findMe('github')"></i>
                </div>
            </div>
            <div class="col-sm-4 mb-5">
                <h3>Services</h3>
                <div *ngFor="let service of services">
                    <p>{{service}}</p>
                </div>
            </div> 
        </div>
       
        <div class="d-flex justify-content-center mt-4">
            <p>&copy; {{curYear}} Tek Bista | All rights reserved.</p>
           
        </div>
    </div>
</div>
