
.nav-link{
    color: #fff;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

.nav-item:hover{
    border: 1px solid #fff;
    border-radius: 25px;
    font-weight: bold;
}

.nav-item:active{
    
    border: 1px solid rgb(24, 22, 22);
    border-radius: 25px;
    font-weight: bold;
    background-color: rgb(24, 22, 22);
}

