@font-face {
    font-family: 'Roboto-Thin';
    src: url('../../../assets/fonts/Roboto/Roboto-Thin.ttf');
  }
@media only screen and (max-width: 768px){
    #navbar{
        display: none !important;
    }
}
.nav-link{
    color: #fff;
    font-size: 0.8rem;
    font-family: 'Roboto-Thin';
}

.nav-item:hover{
    border-bottom: 1px solid #fafcfc;
    border-radius: 25px;
}

.active{  
    border-bottom: 1px solid #fafcfc;
    border-radius: 25px;
}

li{
    margin-right: 20px;
}

