<div class="d-flex mb-2 me-5 justify-content-end" id="navbar">
    <ul class="nav">
        <li class="nav-item active" appActiveRoute ><a class="nav-link" href="#home">Home</a></li>
        <li class="nav-item" appActiveRoute><a class="nav-link" href="#aboutme">About Me</a></li>
        <li class="nav-item"  appActiveRoute><a class="nav-link" href="#portfolio">Portfolio</a></li>
        <li class="nav-item" (click)="openResume()" appActiveRoute><a class="nav-link">Resume</a></li>
        <li class="nav-item"  appActiveRoute><a class="nav-link" href="#footer">Contact</a></li>
    </ul>
</div>
