<div class="d-flex mb-2 justify-content-end">
    <ul class="nav">
        <li class="nav-item" (click)="toSection('home')"><a class="nav-link">Home</a></li>
        <li class="nav-item" (click)="toSection('idea')"><a class="nav-link">Idea</a></li>
        <li class="nav-item" (click)="toSection('web')"><a class="nav-link">Web</a></li>
        <li class="nav-item" (click)="toSection('mobile')"><a class="nav-link">Mobile</a></li>
        <li class="nav-item" (click)="toSection('coding')"><a class="nav-link">Coding</a></li>
    </ul>
</div>
