
<div class="header" id="home">
    <app-navbar></app-navbar>
    <div class="container mx-auto pt-3">
        <div class="row">
            <div class="col-md-6">
                <div class="typing mb-5" >
                    <div class="typing-text">
                        {{intro}}
                    </div>
                </div> 
                <h6 class="m-2 p-2">
                    {{about}}
                </h6>
            </div>
            <div class="col-md-6">
                <img src="{{headerImage}}" alt="idea" id="header-image">
            </div>
        </div>
    </div>
</div>


