.header{
    background-image: url("../../../assets/images/banner.png");
    width: 100%;
    height: 664px;
    margin: 0;
    color: #fff;
    font-family: Arial, sans-serif;
}

.introduction{
    font-family: 'Brush Script MT', cursive;
    font-size: 50px;
    background: -webkit-linear-gradient(#fff, rgb(67, 244, 2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  p{
    font-size: 18px;
    color: inherit;
  }