<div class="aboutme" id="aboutme">
    <div class="container mx-auto p-3 mb-5">
        <h1>About Me</h1>
        <div class="row mt-5 mb-5 justify-content-between">
            <div class="col-sm-4" id="profile-image">
            </div>
            <div class="col-sm-7">
                <p> 
                    Hello, I'm Tek Bista, a highly motivated software engineer with a Bachelor's Degree 
                    in Computer Science from Southern New Hampshire University. Currently, I thrive 
                    in the dynamic realm of technology as a Software Engineer at Tata Consultancy Services.   
                </p>
                <p>
                    My expertise lies in crafting robust solutions with a focus on Java, Spring Boot, Angular, 
                    Bootstrap, CSS, Git, Jenkins, Docker and AWS. I bring a 
                    wealth of hands-on experience and a passion for staying at the forefront of emerging technologies.
                </p>
                <p>
                    My journey is defined by a commitment to excellence, problem-solving, and a collaborative mindset. 
                    Whether it's architecting scalable systems, optimizing code performance, or driving the adoption 
                    of best practices, I take pride in delivering high-quality software solutions.
                </p>
                <p>
                    Let's connect and explore how my skills and enthusiasm can contribute to the success of your next project or initiative.
                    
                </p>
                <a class="btn btn-primary" href="#footer">Contact me</a>
            </div>
        </div>
        
    </div>
</div>
